{% extends 'qa/base.html' %}
{% load django_markdown %}
{% load staticfiles %}


{% block style %}
    <style type="text/css">
                .container{
                            width: 80%
                }
                textarea[name=comment_text]{
                       resize:none;
                }
                #editor-container {
                      ;
                }
                #markItUpId_comment_text {
                      width: 100%;
                }
                #id_comment_text {
                      width: 100%;
                }
    </style>
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if message %}
            <strong>输入有效评论!</strong>
        {% endif %}
        <div class="panel panel-primary">
                <div class="panel-heading">问题评论</div>
                <div class="panel-body">
                    <form method="post" action="">
                        {% load widget_tweaks %}
                        {% csrf_token %}
                        <div id="editor-container">
                            {% render_field form.comment_text class+="form-control"      placeholder="请输入要评论的话" %}
                        </div>
                        <br/>
                        <input class="btn pull-left btn-primary display" type="button" value="返回" />
                        <input class="btn pull-right btn-primary display" type="submit" value="提交评论" />
                    </form>
                </div>
        </div>
    </div>
{% markdown_editor "#ans" %}
{% markdown_media %}
{% endblock content %}
