{% extends 'qa/base.html' %}
{% load django_markdown %}

{% block style %}
<style type="text/css">
    label[for="id_description"]
    {
        vertical-align: top;
    }
    textarea[name=comment_text]{
         resize:none;
    }
    #editor-container {
        ;
    }
    #markItUpId_description {
        width: 100%;
    }
    #id_description {
        width: 100%;
    } 
</style>
{{ form.media }}
{% endblock %}

{% block content %}

{% if message %}
<strong>输入一个有效的问题!</strong>
{% endif %}
<div style="width: 80%;">
    <form class="form-horizontal" method="post" action="{% block action_url %}{% url 'qa_create_question' %}{% endblock action_url %}">
        {% load widget_tweaks %}
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">问题简称</label>
            <div class="col-sm-10">
                {% render_field form.title class+="form-control" placeholder="问题简称" %}
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">问题描述</label>
            <div class="col-sm-10">
                {% render_field form.description class+="form-control" placeholder="请输入内容" %}
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">标签</label>
            <div class="col-sm-10">
                {% render_field form.tags class+="form-control" placeholder="请输标签" title='多个标签之间使用逗号分割' %}
                多个标签之间使用逗号分割
            </div>
        </div>      
        {# {{ form.as_p }} #}
        {% csrf_token %}
        <input class="btn pull-right btn-success" type="submit" value="发布问题" />
    </form>
</div>
{% endblock content %}

{% block extra_js %}
      {% markdown_editor "#id_description" %}
      {% markdown_media %}
{% endblock extra_js %}
